server:
  port: 5000 # Port on which the server will run
spring:
  profiles:
    active: prod
  task:
    scheduling:
      pool:
        size: 10 # Size of the scheduling thread pool
  servlet:
    multipart:
      file-size-threshold: 0 # Threshold for multipart file size
  # Hikari offers improved performance, resource efficiency, and streamlined connection management,
  # making it a popular choice for database interaction.

  jpa:
    hibernate:
      ddl-auto: update
  messages:
    basename: messages
  jackson:
    time-zone: Asia/Ho_Chi_Minh
#  mail:
#    host: smtp.gmail.com
#    port: 587
#    username: hoangtuananh57tht1@gmail.com
#    password: fypfbljiqelcxvas # fypf blji qelc xvas

## Configuration jwt
application:
  security:
    jwt:
      secret-key: 586B633834416E396D7436753879382F423F4428482B4C6250655367566B5970
      expiration: 900000 #  15 min in ms
      refresh-token:
        expiration: 1296000000 # 15 days in ms

## Socket Io Configuration
socket-server:
  # Socket Port
  port: 5000
  # Socket Host 0.0.0.0 topictalksbackendv11-production.up.railway.app 127.0.0.1
  host: topictalksbackendv11-production.up.railway.app
  # Number of connections
  workCount: 100
  #Allow client requests
  allowCustomRequests: true
  # Protocol upgrade timeout (milliseconds), default 10 seconds
  upgradeTimeout: 10000
  # Ping message timeout (milliseconds), default 60 seconds
  pingTimeout: 6000000
  # Ping message interval (milliseconds), default is 25 seconds.
  pingInterval: 2500000
  #Set the maximum content length of HTTP interaction
  maxHttpContentLength: 1048576
  #Set the maximum length of data processed per frame to prevent others from using big data to attack the server
  maxFramePayloadLength: 1048576

logging: # Log pattern for console output
  pattern:
    console: "%clr(%d{dd-MM-yyy HH:mm:ss.SSS}){faint} %highlight(%-5level) %magenta(${PID}) --- %cyan([%t]) %yellow(%logger{50}).%green(%M) : %msg%n"

#Token properties
app:
  token:
    email:
      verification:
        duration: 3600000
    password:
      reset:
        duration: 3600000
    refresh:
      duration: 2592000000
  velocity:
    templates:
      location: /templates/
